<!--
MyFatoorah version 2.2.6
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}" data-mfVersion="2.2.6">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()" id="mf-title"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="field required" data-bind="if: isContainerVisible()">
            <div class="mf-payment-methods-container">
                <p class="mf-grey-text"><!-- ko i18n: 'How would you like to pay?' --><!-- /ko --></p>

                <!-- ko if: isSectionVisible('ap') -->
                <div id="mf-ap-element" style="height: 40px; margin-top: 5px;"></div>
                <input type="hidden" data-bind="value: getApple()">
                <!-- /ko -->

                <!-- ko if: isSectionVisible('gp') -->
                <div id="mf-gp-element" style="height: 40px; margin-top: 5px;"></div>
                <input type="hidden" data-bind="value: getGoogle()">
                <!-- /ko -->

                <!-- ko if: isSectionVisible('cards') -->
                <div id="mf-sectionCard">
                    <div class="mf-divider">
                        <span class="mf-divider-span">
                            <span id="mf-or-cardsDivider">
                                <!-- ko if: isOrVisible('cards') -->
                                <!-- ko text: $t('Or ') --><!-- /ko -->
                                <!-- /ko -->
                            </span>
                            <!-- ko i18n: 'Pay With' --><!-- /ko -->
                        </span>
                    </div>

                    <div id="mf-card-containers">
                        <!-- ko foreach: getCards() -->
                        <div class="mf-card-container" data-bind="attr: {'data-mfPmCode': $data.PaymentMethodCode}, click: function() {$parent.placeOrderCard($data.PaymentMethodId)}">
                            <div class="mf-row-container">
                                <img class="mf-payment-logo" data-bind="attr: {src: $data.ImageUrl, title: $parent.getCardTitle($data), alt: $parent.getCardTitle($data)}"/>
                                <h5 class="mf-payment-text mf-card-title"><!-- ko text: $parent.getCardTitle($data) --><!-- /ko --></h5>
                            </div>
                            <h5 class="mf-payment-text">
                                <!-- ko text: $data.GatewayData['GatewayTotalAmount'] --><!-- /ko -->&nbsp;<!-- ko text: $data.GatewayData['GatewayCurrency'] --><!-- /ko -->
                            </h5>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: isSectionVisible('form') -->
                <div class="mf-divider">
                    <span class="mf-divider-span">
                        <span id="mf-or-formDivider">
                            <!-- ko if: isOrVisible('form') -->
                            <!-- ko text: $t('Or ') --><!-- /ko -->
                            <!-- /ko -->
                        </span>
                        <!-- ko text: $t('Insert Card Details') --><!-- /ko -->
                    </span>
                </div>

                <div id="mf-form-element"></div>
                <input type="hidden" data-bind="value: getForm()">
                <!-- /ko -->

            </div>
        </div>

        <div class="actions-toolbar" data-bind="if: !isContainerVisible() || isSectionVisible('form')">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        id="mfSubmitPayment"
                        data-bind="
                        click: placeOrderForm,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <input type="hidden" data-bind="value: updateApplePaySession()">
    </div>
</div>
